@media screen and (max-width: 800px) {
    .menu-navegacao {
        display: none;
    }

    .sidebar-mobile {
        display: none;
        flex-direction: column;
        position: absolute;
        padding-left: 10px;
        width: 100vw;
        height: 200vw;
         
        background-color: white;
    }

    .links-sidebar {
        display: flex;
        padding: 20px;
        margin: 5px;
        background-color: #F5F5F5;
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        color: black;
        text-align: center;
    }
    
    .imagem-homelife {
        width: 100px;
    }

    .sidebar-cabecalho {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-sidebar {
        background-color: rgb(255,255,255);
        margin-right: 10px;
        border: none;
        font-size: 25px;
    }

    main {
        padding: 20px;
    }



    .imagem-principal {
        height: 100%;
        width: 100vw;
    }

    .img-body-container {
        display: inline;
    }

    .imgs-body {
        width: 100%;
        margin: 0 auto;
    }

    .titulo-imagens {
        width: 85.5vw;
    }

    .container-contatos {
        padding: 20px;
        display: block;
    }

    .container-whatsapp {
        margin-bottom: 35px;
    }
}

